@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins:wght@200;400;700&family=Reem+Kufi+Fun:wght@700&display=swap");

@tailwind base;

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #b5e6f6;
  border-radius: 14px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #ee5c51;
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;
